<ion-footer style="background-color: rgb(0, 128, 255);">
  <ion-toolbar>
    <ion-avatar slot="start">
      <ion-img src="https://cdn-icons-png.flaticon.com/512/387/387567.png"></ion-img>
    </ion-avatar>
    <ion-title size="small" color="white" style="text-align: center;">
      <h5 style="color: rgb(0, 110, 255);">Integrantes</h5>
      <div>Axel</div>
      <div>Janeth</div>
      <div>Jorge</div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="white" (click)="closeSession()">Cerrar sesion</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>